#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

#header {
    border-radius: 10px;
    box-shadow: 5px 6px 6px;
    margin-bottom: 5px;
    background-color: #f0eadc;
}

#img {
    width: 100%;
    border-radius: 10px;

}

#body {
    background-color: #f0eadc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 6px 6px black;
    color: #de4f41;
}

#header a {
    text-decoration: none;
    font-size: 1.5em;
    color: #de4f41;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#header a:hover {
    color: #db7f52;
    font-weight: bold;
}